* {
	
}

body {
	background-color: #dfdfdf;
	font-family: 'helvetica';
}

h1 {
/* 	font-weight: 400; */
	font-size: 12pt;
	line-height: 130%;
	color: #000;
	font-weight: bold;
}

#home {
	width: 70%;
	height: calc(100% - 2.375em); /* 38px; */
	margin: auto;
	top: 5%;
	left:30%;
}

#home h2 {
	font-weight: bold;
	font-size: 40pt;
	text-align: center;
	font-family: "helvetica";
}

/* #home ul { */
/* 	margin: 100em auto; */
/* 	font-size: 12px; */
/* 	list-style: disc inside; */
/* } */

/* #home li { */
	
/* } */

#cabecera {
	background-color: #009688;
	width: 100%;
 	height: 8em; /*127px; */
	position: absolute;
}

#wrapper {
	width: 100%;
	height: 100%;
/*  	min-width: 56.25em; 900px; */
/* 	min-height: 37.5em; 600px; */
	position: absolute;
}

.scroll {
	overflow-x: hidden;
	overflow-y: scroll;
}

.panel {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
/* 	width: 30%; */
	overflow: hidden;
	
}
#contenido {
 	width: 80%; /* 75.75em; 1212px; */
	height: calc(100% - 2.375em); /* 38px; */
	position: relative;
	top: 1.1875em; /*19px; */
	border-radius: 0.1875em; /* 3px; */
	overflow: hidden;
	/*z-index: 2;*/
	margin: 0 auto;
	background-position: top left;
	background-repeat: repeat-x;
	background-color: #F7F9FA;
}

#contenido header {
	border: 1px solid #DAD5D0;
}

#listado {
	background-color: #fefefe;
	left: 0;
	height: 100%;
	width: 30%;
}

#listado header {
	height: 3.75em; /* 59px; */
	width: 100%;
	background-color: #eee;
	box-sizing: border-box;
	padding: 0.3em; /*5px; */
}

#listado h1 {
	float: left;
	margin: 1em; /* 15px; */
	
}

#logo {
	text-indent: -625em; /* -9999px; */
	background: url(../images/logo.png) center center no-repeat;
	background-size: 2.5em 2.5em; /* 40px 40px; */
	-webkit-border-radius: 2.5em; /* 40px; */
	border-radius: 2.5em; /* 40px; */
	height: 3.125em; /* 50px; */
	width: 3.125em; /* 50px; */
	display: inline-block;
	max-width: 20%;
	float: left;
}

#monguerchat{
/* 	background: url(../im ages/logo.png) center center no-repeat; */
	background-size: 62.5em 62.5em; /* 1000px 1000px; */
	-webkit-border-radius: 62.5em; /* 1000px; */
	border-radius: 62.5em; /* 1000px; */
	width: 62.5em; /* 1000px; */
	height: 62.5em; /* 1000px; */
	display: inline-block;
	opacity: 0.8;
	
	width: 100%;
	height: calc(100% - 2.375em); /* 38px; */
}

#listado #links {
	font-size: 0.625em; /* 10px; */
	color: green;
	margin: 1.25em; /* 20px; */
	float: right;
	max-width: 10%;
}

#listado #links a {
	color: green;
	text-decoration: none;
}

#listado #links a:hover {
	text-decoration: underline;
}

#avatar-conversacion {
	text-indent: -625em; /*-9999px; */
	background: url(../images/logomonguer.png) center center no-repeat;
	background-size: 3.125em 3.125em; /* 50px 50px; */
	-webkit-border-radius: 3.125em; /* 50px; */
	border-radius: 3.125em; /* 50px; */
	width: 3.125em; /* 50px; */
	height: 3.125em; /* 50px; */
	display: inline-block;
/* 	max-width: 20%; */
	float: left;
	margin: 0.3125em 1.25em; /*5px 20px; */
}

#contactos {
	clear: both;
	height: calc(100% - 3.75em); /* 60px); */
}

.mensaje {
	margin: 1em; /* 15px; */
	padding: 0.3em 0.3em 0.6em 0.3; /* 5px 5px 10px 5px; */
	background-color: #ffffff;
	border-radius: 0.5em; /* 5px; */
	min-width: 10%;
	max-width: 30%;
	font-size: 1em; /* 13.6000003814697px; */
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	display: table;
	clear: both;
	position: relative;
	font-size: 0.85em; /* 13.6px; */
	line-height: 1.1875em; /* 19px; */
/* 	font-family: 'Open Sans', sans-serif; */
	word-wrap: break-word;
	color: #262626;
	position: relative;
	-webkit-box-shadow: 0.5px 0.5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0.5px 0.5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0.5px 0.5px 5px 0px rgba(0, 0, 0, 0.75);
	padding: 1em;
}

.hora {
	position: absolute;
	bottom: 0em;
	right: 0.3em; /* 5px; */
	font-size: 0.8em; /* 11px; */
	color: rgba(0, 0, 0, .45);
	line-height: 1em; /* 15px; */
	height: 1em; /* 15px; */
	padding-top: 0.3em; /* 5px; */
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.you {
	background-color: #dcf8c7;
	margin-left: auto;
	text-align: left;
	margin-right: 6.25em; /* 100px; */
	padding-right: 1.5em; /* 25px; */
}

.other {
	margin-right: auto;
	text-align: left;
	background-color: #ffffff;
	margin-left: 6.25em; /* 100px; */
	padding-right: 1.5em; /* 25px; */
}

.text{
	
}

#chats {
	height: calc(100% - 7em); /* 111px); */
	width: /*53em; /* 848px; */ */
	margin: 0 auto;
}

.chat {
	
}

.caja-contacto {
	/*z-index: 40;*/
	height: 4.625em; /* 74px; */
	/*position: absolute;*/
	width: 100%;
	border-bottom: solid #cccccc 1px;
	cursor: pointer;
}

.caja-contacto:hover {
	background-color: #e0dad6;
}

.select {
	background-color: #e8e9eb;
}

.contacto {
	padding: 1em;/* 14px 15px 12px 13px; */
	/*position: relative;*/
	height: 100%;
	width: 100%;
}

.avatar-contacto {
	text-indent: -625em; /* -9999px; */
	background: url(../images/avatar.png) center center no-repeat;
	background-size: 3.5em 3.5em; /* 56px 56px; */
	-webkit-border-radius: 3.5em; /* 56px; */
	border-radius: 3.5em; /* 56px; */
	width: 3.5em; /* 56px; */
	height: 3.5em; /* 56px; */
	display: inline-block;
/* 	max-width: 20%; */
	float: left;
}

.datos-contacto {
	margin: 1.25em; /* 20px; */
	/*max-width: calc(100% - 64px);*/
	max-width: 50%;
	float: left;
}

.busy {
	display: none;
	padding-left: 1em; /* 15px; */
}

#conversacion {
	width: 70%;
	left: 30%;
	z-index: 5;
	margin: 0 auto;
	background-color: #e0dad6;
}

#conversacion header {
	background-color: #efefef;
	height: 3.75em; /* 59px; */
}

#conversacion header h1 {
	padding: 1em 0 0 1em; /*15px 0 0 15px; */
}

#conversacion div {
	
}

#conversacion #chats {
	
}

#conversacion footer {
	height: 2.5em; /* 40px; */
	background-color: #e3e2e0;
	padding: 0.5em 2em;
/* 	padding-top: 0.625em; 10px; */
}

#conversacion footer input {
	width: 100%; /* 700px; */
	height: 2em;
/* 	margin: 0 5%; */
	border-radius: 0.4em; /* 5px; */
	white-space: pre-wrap;
/* 	padding: 0 0.5em 0 0; 0 8px 0 0; */
	min-height: 1.25em; /* 20px; */
	max-height: 6.25em; /* 100px; */
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 0.5em; /* 5px; */
	background-clip: padding-box;
	padding-right: 0.6em; /* 10px; */
	background-color: #fff;
	border: 0;
	display: block;
}

/* } */
/* .spinner-container { */
/* 	z-index: 2; */
/* 	-webkit-animation: rotate 2s linear infinite; */
/* 	animation: rotate 2s linear infinite; */
/* } */

/* .spinner-container .path { */
/* 	stroke-dasharray: 1, 150; */
/* 	stroke-dashoffset: 0; */
/* 	stroke: rgba(27, 154, 89, 0.7); */
/* 	stroke-linecap: round; */
/* 	animation: dash 1.5s ease-in-out infinite; */
/* 	-webkit-animation: dash 1.5s ease-in-out infinite; */
/* } */

@media (max-width: 1000px) {
	
	#cabecera {
		display:none;
	}
	
	#wrapper {

	}
	
	#contenido {
	 	width: 100%;
/* 		position: absolute; */
		top: 0;
	}
	
	#listado {
		min-width: 30%;
		z-index: 6;
	}
	
	#monguerchat{
	
	
	}
	
	#conversacion {
		min-width: 70%;
	}
	
	.panel {
/* 		min-width: 300px; */
	}
	
	#conversacion footer {
/* 		position: absolute; */
	}
}

@media ( max-width : 800px) {
	#conversacion {
		min-width: 100%;
		z-index: 6;
		top:0;
		left:0;
	}
	
	#listado {
		display: none;
		
	}
	
	.panel {
	}
}